
config FLASHWRITER
	bool "Flash devices programmer"
	help
		Need enable one or more parameters of u-boot configuration:
			CONFIG_SPL_SPI_FLASH_SUPPORT for SPI flash programming
			CONFIG_SPL_MMC_SUPPORT for MMC programming
			CONFIG_SPL_NOR_SUPPORT for NOR flash programming
			CONFIG_SPL_NAND_SUPPORT for NAND flash programming
	select SPL_MMC_WRITE
	select SPL_SYS_MALLOC_SIMPLE
	default n