#include <dt-bindings/gpio/gpio.h>
#include "mpw7705-pinfunc.h"

/dts-v1/;
/ {
	compatible = "rc-module,mpw7705";
	#address-cells = <1>;
	#size-cells = <1>;

    config {
           u-boot,spl-payload-offset = <0x40000>; 
    };

	chosen {
		stdout-path = "uart0";
		spd0-path = "spd0";
		spd1-path = "spd1";
	};

	aliases {
		spi0 = &spi0;
		mmc0 = &mmc0;
		uart0 = &uart0;
		spd0 = &spd0;
		spd1 = &spd1;
	}; 

	lsif0 {
	    u-boot,dm-pre-reloc;
	    compatible = "simple-bus";
		reg = <0x3C03F000 0x1000>;
		reg-names = "ctrlreg";

		#address-cells = <1>;
		#size-cells = <1>;


		mgpio0: mgpio0@0x3C040000 {
		    compatible = "rc-module,pl061";
		    #address-cells = <1>;
		    #size-cells = <0>;
		    reg = <0x3C040000 0x1000>;
			pinctrl {
					compatible = "rc-module,pl061-pinctrl";
					
					pinctrl_greth0_1_default: greth0_1_default {
						pinmux = 	<GBETH0_RX_DV>,
									<GBETH0_RX_ER>,
									<GBETH0_RX_COL>,
									<GBETH0_RX_CRS>,
									<GBETH0_RXD0>,
									<GBETH0_RXD1>,
									<GBETH0_RXD2>,
									<GBETH0_RXD3>;
					};
			};
		};

		mgpio1: mgpio1@0x3C050000 {
		    compatible = "rc-module,pl061";
		    #address-cells = <1>;
		    #size-cells = <0>;
		    reg = <0x3C050000 0x1000>;
			pinctrl {
					compatible = "rc-module,pl061-pinctrl";
					
					pinctrl_greth0_2_default: greth0_2_default {
						pinmux = 	<GBETH0_RXD4>,
									<GBETH0_RXD5>,
									<GBETH0_RXD6>,
									<GBETH0_RXD7>;
					};
			};
		};

		mgpio4: mgpio4@0x3C080000 {
		    compatible = "rc-module,pl061";
		    #address-cells = <1>;
		    #size-cells = <0>;
		    reg = <0x3C080000 0x1000>;
			pinctrl {
					compatible = "rc-module,pl061-pinctrl";
					
					pinctrl_greth0_3_default: greth0_3_default {
						pinmux = 	<GBETH0_TX_EN>,
									<GBETH0_TX_ER>,
									<GBETH0_TXD0>,
									<GBETH0_TXD1>;
					};
			};
		};

		mgpio5: mgpio5@0x3C090000 {
		    compatible = "rc-module,pl061";
		    #address-cells = <1>;
		    #size-cells = <0>;
		    reg = <0x3C090000 0x1000>;
			pinctrl {
					compatible = "rc-module,pl061-pinctrl";
					
					pinctrl_greth0_4_default: greth0_4_default {
						pinmux = 	<GBETH0_TXD2>,
									<GBETH0_TXD3>,
									<GBETH0_TXD4>,
									<GBETH0_TXD5>,
									<GBETH0_TXD6>,
									<GBETH0_TXD7>,
									<GBETH0_MDC>,
									<GBETH0_MDIO>;
					};
			};
		};

		greth1: greth0@0x3C034000 {
			compatible = "rc-module,greth";
            reg = <0x3C034000 0x1000>;			
			mac-address = [ EC 17 66 77 05 00 ];
			//pinctrl-names = "default";
			//pinctrl-0 = <&pinctrl_greth0_1_default>, <&pinctrl_greth0_2_default>, <&pinctrl_greth0_3_default>, <&pinctrl_greth0_4_default>;
			status = "okay";
		};

	};

	lsif1 {
	    u-boot,dm-pre-reloc;
	    compatible = "simple-bus";
		reg = <0x3C060000 0x1000>;
		reg-names = "ctrlreg";
		#address-cells = <1>;
		#size-cells = <1>;

		mgpio2_1: mgpio2_1@0x3C069000 {
		    compatible = "rc-module,pl061";
			u-boot,dm-pre-reloc;
		    #address-cells = <1>;
		    #size-cells = <0>;
		    reg = <0x3C069000 0x1000>;

			pinctrl {
					compatible = "rc-module,pl061-pinctrl";
					pinctrl_uart0_default: uart0_default {
						u-boot,dm-pre-reloc;
						pinmux = 	<UART0_RXD>,
									<UART0_TXD>;
					};					
			};					
		};

		mgpio3_1: mgpio3_1@0x3C06A3000 {
		    compatible = "rc-module,pl061";
		    #address-cells = <1>;
		    #size-cells = <0>;
		    reg = <0x3C06A000 0x1000>;
		    u-boot,dm-pre-reloc;
		
			pinctrl {
				    u-boot,dm-pre-reloc;
					compatible = "rc-module,pl061-pinctrl";

					pinctrl_spi0_default: spi0_default {
						u-boot,dm-pre-reloc;
						pinmux = 	<SPI0_SCLK>,
									<SPI0_MOSI>,
									<SPI0_MISO>;
					};					

					pinctrl_uart1_default: uart1_default {
						pinmux = 	<UART1_RXD>,
									<UART1_TXD>;
					};

					pinctrl_uart2_default: uart2_default {
						pinmux = 	<UART2_RXD>,
									<UART2_TXD>;
					};										
								
			};

		};
		mgpio4_1: mgpio4_1@0x3C06B000 {
		    compatible = "rc-module,pl061";
		    #address-cells = <1>;
		    #size-cells = <0>;
		    reg = <0x3C06B000 0x1000>;
			u-boot,dm-pre-reloc;
		
			pinctrl {
					compatible = "rc-module,pl061-pinctrl";
					u-boot,dm-pre-reloc;
					pinctrl_spi1_default: spi1_default {
						u-boot,dm-pre-reloc;

						pinmux = 	<SPI1_SCLK>,
									<SPI1_MOSI>,
									<SPI1_MISO>;
					};		

					pinctrl_sdio_default: sdio_default {
						u-boot,dm-pre-reloc;
						pinmux = 	<SDIO_CMD>,
									<SDIO_D0>,
									<SDIO_D1>,
									<SDIO_D2>,
									<SDIO_D3>;
					};					
					
			};

		};

		i2c0: i2c@0x3C05A000 {
			compatible = "rc-module,i2cmst";
		    #address-cells = <1>;
		    #size-cells = <0>;
			reg = <0x3C05A000 0x1000>;
			reg-shift = <2>;
			reg-io-width = <4>;
			clock-frequency = <100000000>;
			bus-clock = <100000>;
			u-boot,dm-pre-reloc;

			spd0: spd@50 {
				compatible = "i2c-eeprom";
				reg = <0x50>;
				u-boot,dm-pre-reloc;
			};
			spd1: spd@51 {
				compatible = "i2c-eeprom";
				reg = <0x51>;
				u-boot,dm-pre-reloc;
			};
		};

		gpio0: gpio0@0x3C065000 	{
		    compatible = "rc-module,pl061";
		    #address-cells = <1>;
		    #size-cells = <0>;
		    reg = <0x3C065000 0x1000>;

			u-boot,dm-pre-reloc;
		};

		gpio1: gpio1@0x3C066000 	{
		    compatible = "rc-module,pl061";
		    #address-cells = <1>;
		    #size-cells = <0>;
		    reg = <0x3C066000 0x1000>;
			#gpio-cells = <2>;
			gpio-controller;

			u-boot,dm-pre-reloc;
		};

	    spi0: spi0@0x3C061000 {
		    compatible = "rc-module,pl022-spi";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_spi0_default>;
			
		    #address-cells = <1>;
		    #size-cells = <0>;
		    reg = <0x3C061000 0x1000>;
		    cs-gpios = <&gpio1 2 0>, <0>, <0>, <0>;
		    spi-max-frequency = <12500000>;			
		    u-boot,dm-pre-reloc;

		    spi_flash@0 {
			    compatible = "st,m25p32", "spi-flash";
			    reg = <0>;
			    u-boot,dm-pre-reloc;
								
		    };
	    };

		uart0: uart0@3C05D000 {  /* console */
                compatible = "arm,pl011", "arm,primecell";
                reg = <0x3C05D000 0x1000>;
                clock = <100000000>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_uart0_default>;

 			    u-boot,dm-pre-reloc;
		};		

		uart1: uart1@3C05E000 { 
                compatible = "arm,pl011", "arm,primecell";
                reg = <0x3C05E000 0x1000>;
                clock = <100000000>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_uart1_default>;
				status = "disabled";
		};		


		mmc0: mmc0@0x3C064000 {
			compatible = "rc-module,mmc-0.2";
			reg = <0x3C064000 0x1000>;
			carddetect-gpio = <&gpio1 1 0>;
			u-boot,dm-pre-reloc;
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_sdio_default>;
		};


        usb: musb@0x3C06D000 {
                compatible = "rc-module,musb";
                reg = <0x3C06C000 0x1000>,
					  <0x3C06D000 0x1000>,
					  <0x38000008 0x4>;
                reg-names = "phy", "mc", "control";
        };

	    spi1: spi1@0x3C062000 {
		    compatible = "rc-module,pl022-spi";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_spi1_default>;
			
		    #address-cells = <1>;
		    #size-cells = <1>;
		    reg = <0x3C062000 0x1000>;
		    cs-gpios = <&gpio1 4 0>;
		    spi-max-frequency = <400000>;
			u-boot,dm-pre-reloc;
			status = "disabled";
	    };	
	};
};
