
/dts-v1/;
/ {
    model = "RC-Module 1888BC048 SoC";
	compatible = "rcm,1888BC048";
	#address-cells = <1>;
	#size-cells = <1>;


    config {
           u-boot,spl-payload-offset = <0x000000>; 
    };

	chosen {
		stdout-path = "uart0";
	};

	aliases {
		uart0 = &uart0;
		mmc0 = &mmc;
		spi0 = &spi0;
	}; 

	clock_axi_slow: clock_axi_slow@100M {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <100000000>;
		u-boot,dm-pre-reloc;
	};

	clock_axi_fast: clock_axi_fast@400M {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <400000000>;
		u-boot,dm-pre-reloc;
	};

	axi_fast {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		u-boot,dm-pre-reloc;

	    uart0: uart0@0x01044000 {
		    compatible = "rcm,muart";			
			clocks = <&clock_axi_fast>;
		    reg = <0x01044000 0x1000>;
		    u-boot,dm-pre-reloc;
        };
	};

	axi_slow {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		u-boot,dm-pre-reloc;
        
        spi0: spi0@0x01040000 {
		    compatible = "rcm,pl022-spi";			
		    #address-cells = <1>;
		    #size-cells = <0>;
			clocks = <&clock_axi_slow>;
		    reg = <0x01040000 0x1000>;
		    spi-max-frequency = <25000000>;		
			// cs-gpios = <&gpio0 1 0>, <&gpio0 0 0>, <&gpio0 2 0>, <&gpio0 3 0>;	
		    u-boot,dm-pre-reloc;

		    spi_flash@0 {
			    compatible = "st,m25p32", "spi-flash";
			    reg = <0>;
				spi-max-frequency = <1000000>;
				spi-cpol;
				spi-cpha;
			    u-boot,dm-pre-reloc;								
		    };

			mmc: mmc@1 {
				compatible = "mmc-spi-slot";
			    reg = <1>;
				spi-max-frequency = <25000000>;
			    u-boot,dm-pre-reloc;
				//status="disabled";
			};
        };
    };
};
