CONFIG_PPC=y
CONFIG_PPC470S=y
CONFIG_TARGET_PPC470S=y
CONFIG_TARGET_MPW7705=y
CONFIG_SPL_SERIAL_SUPPORT=y
CONFIG_SPL_LIBCOMMON_SUPPORT=y
CONFIG_SPL_LIBGENERIC_SUPPORT=y
CONFIG_SPL_MMC_SUPPORT=y
CONFIG_SPL_SERIAL_SUPPORT=y
CONFIG_SPL_LIBDISK_SUPPORT=y
CONFIG_SPL_SPI_FLASH_SUPPORT=y
CONFIG_SPL_SPI_SUPPORT=y
CONFIG_SPL_FAT_SUPPORT=y
CONFIG_SPL_EXT_SUPPORT=y
CONFIG_SPL_LDSCRIPT="arch/powerpc/cpu/ppc470s/u-boot-spl.lds"
CONFIG_BOOTDELAY=10
CONFIG_SPL=y
CONFIG_MTD_NOR_FLASH=y
CONFIG_SPI_FLASH=y
CONFIG_SYS_PL011=y
CONFIG_USB=y
CONFIG_USB_STORAGE=y
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_BASE=0x3C05D000
CONFIG_DEBUG_UART_CLOCK=100000000
CONFIG_MPW7705_SERIAL=y
CONFIG_MPW7705_DDR=y
CONFIG_FS_FAT=y
CONFIG_FS_FAT_MAX_CLUSTSIZE=65536