CONFIG_ARM=y
CONFIG_ARCH_RCM_ARM=y
CONFIG_TARGET_1888BC048=y
CONFIG_SPL_SERIAL_SUPPORT=y
CONFIG_RCM_MUART=y
CONFIG_BAUDRATE=6250000
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_BASE=0x01044000
CONFIG_DEBUG_UART_CLOCK=100000000
CONFIG_DEBUG_UART_RCM=y
CONFIG_CACHE=y
# CONFIG_L2X0_CACHE=y
CONFIG_SPL=y
CONFIG_SPL_SPI_SUPPORT=y
CONFIG_SPL_LIBCOMMON_SUPPORT=y
CONFIG_SPL_LDSCRIPT="board/rcm/mt143-05/u-boot-spl.lds"
CONFIG_SPL_LIBGENERIC_SUPPORT=y
CONFIG_SPL_SPI_FLASH_SUPPORT=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_DEFAULT_DEVICE_TREE="mt143-05"
CONFIG_PL022_SPI=y
CONFIG_SPL_LEGACY_IMAGE_SUPPORT=y
CONFIG_SPL_RAW_IMAGE_SUPPORT=n
CONFIG_DM_SPI_FLASH=y
CONFIG_SPL_RAM_DEVICE=y
CONFIG_SPL_RAM_SUPPORT=y
CONFIG_DM_ETH=y
CONFIG_NET=y
CONFIG_PINCTRL=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_RCM_MGETH=y
CONFIG_PHY_TI=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_ENV_IS_IN_SPI_FLASH=n
CONFIG_ENV_IS_IN_MMC=n
CONFIG_BLK=y
CONFIG_SPL_BLK=y
CONFIG_SPL_DM_MMC=y
CONFIG_DM_MMC=y
CONFIG_MMC_RCM=y
CONFIG_SPL_HASH_SUPPORT=y
CONFIG_CLK=y
CONFIG_SPL_CLK=y
CONFIG_MMC_IO_VOLTAGE=y
CONFIG_MMC_UHS_SUPPORT=y
CONFIG_SPL_MMC_SUPPORT=y
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_USE_PARTITION=y
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_USE_PARTITION_TYPE=y
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_PARTITION_TYPE=0xdf
CONFIG_CMD_MMC=y
CONFIG_CMD_PART=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_CMD_FAT=y
CONFIG_CMD_EXT4=y
CONFIG_PARTITIONS=y
CONFIG_SPL_DOS_PARTITION=y
CONFIG_SPL_LIBDISK_SUPPORT=y
CONFIG_SYS_MALLOC_F_LEN=0x8000
CONFIG_NETDEVICES=y
CONFIG_DM_GPIO=y
CONFIG_SPL_GPIO_SUPPORT=y
CONFIG_RCM_GPIO=y
CONFIG_NR_DRAM_BANKS=1

# CONFIG_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_MMC_TRACE=y

CONFIG_ARCH_FIXUP_FDT_MEMORY=n
CONFIG_LOGLEVEL=8

CONFIG_ENV_IS_IN_EEPROM=y
CONFIG_SYS_I2C_RCM_BASIS=y
CONFIG_DM_I2C=y
CONFIG_CMD_I2C=y
CONFIG_MISC=y
CONFIG_CMD_EEPROM=y
CONFIG_I2C_EEPROM=y
CONFIG_SYS_I2C_EEPROM_ADDR=0x50
CONFIG_SYS_I2C_EEPROM_BUS=0
CONFIG_SYS_EEPROM_SIZE=8196
CONFIG_SYS_EEPROM_PAGE_WRITE_BITS=5
CONFIG_SYS_EEPROM_PAGE_WRITE_DELAY_MS=1
CONFIG_SYS_I2C_EEPROM_ADDR_LEN=2
CONFIG_SYS_I2C_EEPROM_ADDR_OVERFLOW=0x0
CONFIG_ENV_SIZE=0x1000
CONFIG_ENV_OFFSET=0x0
